<br>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Открытие вклада</h4>

        <form #requestForm="ngForm" (ngSubmit)="request()" novalidate="novalidate">
          <div class="form-group">
            <label for="bankDepositId">Вклад</label>
            <select #bankDepositId="ngModel" id="bankDepositId" name="deposit" class="form-control" [(ngModel)]="data.bankDepositId" required>
              <option value="" disabled>Выберите открываемый вклад</option>
              <option *ngFor="let item of bankDeposits" [value]="item.id">{{item.name}} (под {{item.percent / 100 | number : '1.2-2'}}% на {{item.duration}} месяцев)</option>
            </select>
          </div>
          <div class="text-right">
            <button class="btn btn-primary btn-sm" type="submit" [disabled]="!requestForm.form.valid">Открыть</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="col"></div>
</div>

