<div class="container-fluid u-auth u-vh-100">
  <div class="row">
    <div class="col u-auth-panel u-vh-100">
      <div class="row align-items-center justify-content-center u-vh-100">
        <div class="col u-auth-form">
          <h1>IBank</h1>
          <form #loginForm="ngForm" (ngSubmit)="authenticate()" novalidate="novalidate">
            <div class="form-group">
              <label for="login">Логин</label>
              <input #login="ngModel" id="login" class="form-control" name="login" type="text" placeholder="Логин" [(ngModel)]="auth.login" required minlength="6">
            </div>
            <div class="form-group">
              <div class="row justify-content-between">
                <div class="col">
                  <label for="password">Пароль</label>
                </div>
              </div>
              <input #password="ngModel" id="password" class="form-control" name="password" type="password" placeholder="Пароль" [(ngModel)]="auth.password" required minlength="6">
            </div>
            <button class="btn btn-block btn-primary" type="submit" [disabled]="!loginForm.form.valid">Войти</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
