<br>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          {{deposit?.name}}
        </h4>
        <div class="row">
          <div class="col">
            <p class="mb-2">
              <small>
                На {{deposit?.duration}} месяцев до {{deposit?.expire * 1000 | date : 'dd/MM/yy' }}
              </small>
            </p>
            <h4>{{deposit?.balance | number : '1.0-0'}} руб.</h4>
          </div>
          <div class="col">
            <p class="mb-2">
              <small>
                Процентная ставка
              </small>
            </p>
            <h4>{{deposit?.percent / 100 | number : '1.2-2'}}%</h4>
          </div>
          <div class="col-5">
            <p class="mb-0"><small>В конце периода вы получите:</small></p>

            <h1 class="text-success">{{deposit?.balance + deposit?.balance * deposit?.percent / 100000 * deposit?.duration / 12 | number : '1.2-2'}} <small>руб.</small></h1>

            <div>
              <a [routerLink]="['/cabinet/deposits', id, 'refill']" class="btn btn-success btn-sm">Пополнить</a>
              <a [routerLink]="['/cabinet/deposits', id, 'close']" class="btn btn-danger btn-sm">Закрыть</a>
            </div>

          </div>
        </div>

        <div class="row mt-5">
          <div class="col">
            <h4 class="card-title">История</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let item of events">
                <app-event-item [event]="item"></app-event-item>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
