<br>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">События</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let item of events">
          <app-event-item [event]="item"></app-event-item>
        </li>
      </ul>
      <div class="card-footer text-right" *ngIf="!done">
        <button class="btn btn-primary btn-sm" (click)="load()">Загрузить ещё</button>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
