<br>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="card-title">
              <i class="fa fa-cc-mastercard" aria-hidden="true" *ngIf="card?.manufacturer === 'MASTERCARD'"></i>
              <i class="fa fa-cc-visa" aria-hidden="true" *ngIf="card?.manufacturer === 'VISA'"></i>
              {{card?.manufacturer === 'MASTERCARD' ? 'MasterCard' : 'Visa'}}
            </h4>
            <p class="mb-0 text-secondary">{{card?.masked}}, действует по {{card?.expire * 1000 | date : 'MM/yy'}}</p>
            <p class="small text-secondary">{{card?.type == 'DEBIT' ? 'Дебетовая карта' : 'Кредитная карта'}}</p>
            <div>
              <p class="small text-danger" *ngIf="card?.blocked">Заблокирована</p>
              <p class="small text-success" *ngIf="!card?.blocked">Активна</p>
            </div>
          </div>
          <div class="col text-right">
            <h4 class="text-success">{{card?.balance | number : '1.0-0'}} руб.</h4>
            <button class="btn btn-danger btn-sm" [disabled]="card?.blocked" (click)="block()">Заблокировать</button>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <h4 class="card-title">История</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let item of events">
                <app-event-item [event]="item"></app-event-item>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
