<br>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Пополнение вклада</h4>

        <form #requestForm="ngForm" (ngSubmit)="request()" novalidate="novalidate">
          <div class="form-group">
            <label for="cardId">Выберите карту</label>
            <select #cardId="ngModel" id="cardId" name="cardId" class="form-control" [(ngModel)]="data.cardId" required>
              <option value="" disabled>Выберите карту</option>
              <option *ngFor="let item of cards" [value]="item.id">{{item.balance | number : '1.0-0'}} руб. - {{item.masked}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="amount">Сумма</label>
            <input #amount="ngModel" id="amount" class="form-control" name="amount" type="number" placeholder="Сумма" [(ngModel)]="data.amount" required minlength="1" maxlength="6">
          </div>
          <div class="text-right">
            <button class="btn btn-primary btn-sm" type="submit" [disabled]="!requestForm.form.valid">Перевести</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="col"></div>
</div>

