<div class="container">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="dashboard">IBank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">-->
              <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <li class="nav-item">
              <a class="nav-link" routerLink="transfer-request">Переводы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="payments">Платежи</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="events">События</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="client">Настройки</a>
            </li>
            <!--<li class="nav-item">-->
              <!--<a class="nav-link" routerLink="payments">Платежи</a>-->
            <!--</li>-->
            <!--<li class="nav-item dropdown">-->
              <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--Dropdown-->
              <!--</a>-->
              <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                <!--<a class="dropdown-item" href="#">Action</a>-->
                <!--<a class="dropdown-item" href="#">Another action</a>-->
                <!--<div class="dropdown-divider"></div>-->
                <!--<a class="dropdown-item" href="#">Something else here</a>-->
              <!--</div>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
              <!--<a class="nav-link disabled" href="#">Disabled</a>-->
            <!--</li>-->
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-link my-2 my-sm-0" (click)="logout()" type="button">Выйти</button>
          </form>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
    <!--<div class="col-7">-->
      <!--<router-outlet></router-outlet>-->
    <!--</div>-->
    <!--<div class="col">Sidebar</div>-->
  </div>
</div>
