<br>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Платежи</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a routerLink="/cabinet/payments/mobile">Мобильный телефон</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/cabinet/payments/communal-services">Жилищно-коммунальные услуги</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/cabinet/payments/fines">Штрафы</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col"></div>
</div>

