<br>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Жилищно-коммунальные услуги</h4>

        <form #requestForm="ngForm" (ngSubmit)="request()" novalidate="novalidate">
          <div class="form-group">
            <label for="cardId">Выберите карту</label>
            <select #cardId="ngModel" id="cardId" name="cardId" class="form-control" [(ngModel)]="data.cardId" required>
              <option value="" disabled>Выберите карту</option>
              <option *ngFor="let item of cards" [value]="item.id">{{item.balance | number : '1.0-0'}} руб. - {{item.masked}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="org">Наименование организации</label>
            <input #org="ngModel" id="org" class="form-control" name="org" type="text" placeholder="Наименование организации" [(ngModel)]="data.org" required minlength="6">
          </div>
          <div class="form-group">
            <label for="account">Номер cчёта</label>
            <input #account="ngModel" id="account" class="form-control" name="account" type="number" placeholder="Номер счёта" [(ngModel)]="data.account" required pattern="\d{6,16}">
          </div>
          <div class="form-group">
            <label for="value">Показания счётчика</label>
            <input #value="ngModel" id="value" class="form-control" name="value" type="number" placeholder="Показания счётчика" [(ngModel)]="data.value" required pattern="\d{6,20}">
          </div>
          <div class="form-group">
            <label for="amount">Сумма</label>
            <input #amount="ngModel" id="amount" class="form-control" name="amount" type="number" placeholder="Сумма" [(ngModel)]="data.amount" required minlength="1" maxlength="6">
          </div>
          <div class="text-right">
            <button class="btn btn-primary btn-sm" type="submit" [disabled]="!requestForm.form.valid">Оплатить</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="col"></div>
</div>

