<br>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ваши карты</h4>
        <div *ngIf="cards.length === 0">
          <p class="card-text">У вас нет карт</p>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let item of cards">
          <div class="row">
            <div class="col">
              <h5 class="mb-3">
                <i class="fa fa-cc-mastercard" aria-hidden="true" *ngIf="item.manufacturer === 'MASTERCARD'"></i>
                <i class="fa fa-cc-visa" aria-hidden="true" *ngIf="item.manufacturer === 'VISA'"></i>
                <a [routerLink]="['../cards/', item.id]" [class.text-danger]="item.blocked">
                  {{item.manufacturer === 'MASTERCARD' ? 'MasterCard' : 'Visa'}}
                </a>
              </h5>
              <p class="mb-0 text-secondary">{{item.masked}}, действует по {{item.expire * 1000 | date : 'MM/yy'}}</p>
              <p class="small text-secondary">{{item.type == 'DEBIT' ? 'Дебетовая карта' : 'Кредитная карта'}}</p>
              <div>
                <p class="small text-danger" *ngIf="item.blocked">Заблокирована</p>
                <p class="small text-success" *ngIf="!item.blocked">Активна</p>
              </div>
            </div>
            <div class="col-5">
              <h4 class="text-right text-success">{{item.balance | number : '1.0-0'}} руб.</h4>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-footer text-right">
        <a routerLink="../card-request" class="btn btn-primary btn-sm">Заказать новую</a>
      </div>
    </div>
    <br>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ваши вклады</h4>
        <div *ngIf="deposits.length === 0">
          <p class="card-text">У вас нет вкладов</p>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let item of deposits">
          <div class="row">
            <div class="col">
              <p class="mb-0">
                <small>
                  До {{item.expire * 1000 | date : 'dd/MM/yy' }}
                </small>
              </p>
              <h5 class="mb-4">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                <a [routerLink]="['../deposits/', item.id]">
                  {{item.name}}
                </a>
              </h5>
              <h4 class="text-success">{{item.balance | number : '1.0-0'}} руб.</h4>

            </div>
            <div class="col-5">
              <h1 class="text-right text-success mt-2">{{item.percent / 100 | number : '1.2-2'}}%</h1>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-footer text-right">
        <a routerLink="../deposit-request" class="btn btn-primary btn-sm">Открыть вклад</a>
      </div>
    </div>
    <br>
  </div>
  <div class="col">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">События</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let item of events">
          <app-event-item [event]="item"></app-event-item>
        </li>
      </ul>
    </div>

  </div>
</div>
