<br>
<div class="row">
  <div class="col">
    <div class="alert" *ngIf="message !== ''" [class.alert-success]="status === 'success'" [class.alert-danger]="status === 'fail'">
      {{message}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Смена логина</h4>

        <form #loginForm="ngForm" (ngSubmit)="changeLogin(); loginForm.reset()" novalidate="novalidate">
          <div class="form-group">
            <label for="login">Логин</label>
            <input #login="ngModel" id="login" class="form-control" name="login" type="text" placeholder="Логин" [(ngModel)]="auth.login" required minlength="6">
          </div>
          <div class="text-right">
            <button class="btn btn-primary btn-sm" type="submit" [disabled]="!loginForm.form.valid">Сменить</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Смена пароля</h4>

        <form #passwordForm="ngForm" (ngSubmit)="changePassword(); passwordForm.reset()" novalidate="novalidate">
          <div class="form-group">
            <label for="currentPassword">Текущий пароль</label>
            <input #currentPassword="ngModel" id="currentPassword" class="form-control" name="currentPassword" type="password" placeholder="Текущий пароль" [(ngModel)]="auth.currentPassword" required minlength="6">
          </div>
          <div class="form-group">
            <label for="futurePassword">Новый пароль</label>
            <input #futurePassword="ngModel" id="futurePassword" class="form-control" name="futurePassword" type="password" placeholder="Новый пароль" [(ngModel)]="auth.futurePassword" required minlength="6">
          </div>
          <div class="form-group">
            <label for="confirmationPassword">Подтверждение пароля</label>
            <input #confirmationPassword="ngModel" id="confirmationPassword" class="form-control" name="confirmationPassword" type="password" placeholder="Подтверждение пароля" [(ngModel)]="auth.confirmationPassword" required minlength="6">
          </div>
          <p class="text-danger" *ngIf="futurePassword.value != confirmationPassword.value && (confirmationPassword.dirty || confirmationPassword.touched)">Пароли не совпадают!</p>
          <div class="text-right">
            <button class="btn btn-primary btn-sm" type="submit" [disabled]="!passwordForm.form.valid && futurePassword.value != confirmationPassword.value">Сменить</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

