/* You can add global styles to this file, and also import other style files */
$primary-color: #007bff;

body {
  font-family: 'Roboto', sans-serif;
}

a {
  outline: none;

  &:hover, &:active, &:visited {
    text-decoration: none;
  }
}

hr {
  height: 2px;
  border: 1px solid #7b8b9a;
  opacity: 0.17;
  box-sizing: border-box;
}

.u-vh-100 {
  height: 100vh;
}

.u-no-padding {
  padding: 0;
}

.u-auth {
  width: 100%;
  max-width: 1440px;
  max-height: 1280px;
}

.u-auth-panel {
  max-width: 819px;
  background: #ffffff;
}

.u-auth-form {
  max-width: 450px;
}

.u-auth-btn {
  width: 100%;
  max-width: 362px;
  margin: 0 auto 10px;
}
