<div class="row">
  <div class="col">
    <small class="text-secondary">{{event?.timestamp | date : 'dd.MM H:mm' }}</small> {{event?.name}}
  </div>
  <div class="col-4 text-right">
    <span *ngIf="event?.amount != 0" [class.text-success]="event?.amount > 0" [class.text-danger]="event?.amount < 0">
    {{event?.amount | number : '1.0-0'}} руб.
    </span>
  </div>
</div>
