<br>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Заказ карты</h4>

        <form #requestForm="ngForm" (ngSubmit)="request()" novalidate="novalidate">
          <div class="form-group">
            <label for="manufacturer">Производитель</label>
            <select #manufacturer="ngModel" id="manufacturer" name="manufacturer" class="form-control" [(ngModel)]="data.manufacturer" required>
              <option value="" disabled>Выберите производителя карты</option>
              <option *ngFor="let item of manufacturers" [value]="item.value">{{item.title}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="type">Тип</label>
            <select #type="ngModel" id="type" name="type" class="form-control" [(ngModel)]="data.type" required>
              <option value="" disabled>Выберите тип карты</option>
              <option *ngFor="let item of types" [value]="item.value">{{item.title}}</option>
            </select>
          </div>
          <div class="text-right">
            <button class="btn btn-primary btn-sm" type="submit" [disabled]="!requestForm.form.valid">Заказать</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="col"></div>
</div>

